.registration{
  max-width:400px;
  margin:0 auto;
  text-align:center;

}
.registration label{
  text-align:left;
  display:block;
}
.registration h1{
  font-size:20px;
  color:black;
  margin-bottom:30px;
}
.registration input, .registration select{
  width:100%;
  padding:6px 10px;
  margin:10px 0;
  border:1px solid #ddd;
  box-sizing:border-box;
  display:block;
}
.registration button{
  background-color: rgb(12, 3, 3);
  color:white;
  border:0;
  padding:8px;
  border-radius:8px;
  cursor:pointer;
}
